<article class="post">
    <div class="card border-dark">
        <div class="card-header text-light bg-dark">
            <a href='/post/{{id}}'>{{title}}</a>
            <span>Posted By {{post.user.username}} on {{format_date createdAt}}</span>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p>{{post.body}}</p>
            </blockquote>
        </div>
    </div>
</article> 
 {{!-- {{> comments post.comments}} --}}
{{#if post.comments}}
<div class="post">
  <form class="card comment-form">
    <div class="card-header">
      <h3>Comments</h3>
    </div>

    <div class="card-body">
      {{#each post.comments}}
      <div>
        <p> {{body}} </p>
        <p> {{user.username}}, {{format_date createdAt}}</p>
      </div>
      {{/each}}
    </div>
  </form>
{{/if}}

 <article  class="card">
   <div class="card-header">
     <h2>Add comment</h2>
   </div>

   <div class="card-body">
      <input type="hidden" name="post-id" value="{{post.id}}" />
      <label class="form-label" for="comment-body">Comment</textarea>
      <input name="comment-body" class="form-input"></textarea>
      <button id="new-comment-form" type="submit" class="btn">Submit</button>
   </div>
 </article>
</div>

<script src="/javascript/comment.js"></script>